.site-author-image {
  display: block;
  margin: 0 auto;
  padding: $site-author-image-padding;
  width: 100px;
  height 100px;
  border: $site-author-image-border-width solid $site-author-image-border-color;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}

.site-author-name {
  margin: $site-author-name-margin;
  text-align: $site-author-name-align;
  color: $site-author-name-color;
  font-weight: $site-author-name-weight;
}

.site-description {
  margin-top: $site-description-margin-top;
  text-align: $site-description-align;
  font-size: $site-description-font-size;
  color: $site-description-color;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}